/* ######################################################################## */
/*                   styles for generic items on the page
/* ######################################################################## */


/*for anchors:*/
.strong-link{
	color:rgb(0, 133, 161);
	text-decoration: none;
	font-weight: bold;		
	transition:0.1s;
}

.strong-link:hover{	
}

.section-title{
	color:blue;
}



/* ######################################################################## */
/*                              BLog
/* ######################################################################## */
.post-summary-list{
	margin-top:2em;
}

.post-summary-list li{
	margin-top:1em;
}

.post-info{
	text-align: center;
}

.post-title{
}

.post-summary-author, .post-summary-date{
	display:block;	
}

.post-author, .post-date{	
	display:inline-block;
	font-size:1.2em;
	margin-right: 1em;
	margin-top:0.5em;
}

.post-img-title{	
	background-size: cover;
	background-position: center center;
	/*
	box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);  
	*/
	box-shadow: 1px 1px 7px 3px rgb(0 0 0 / 24%);
	height:15em;
	margin-top:1em;
	margin-bottom:1em;
	width:100%;
}


/* ######################################################################## */
/*                   site banner (site heading)
/* ######################################################################## */

.site-heading h1{  
  text-shadow: -4px 4px 3px black;
}

.site-heading .subheading{  
  text-shadow: -1px 2px 1px black
}

.intro-header{
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* ######################################################################## */
/*                              seminario section
/* ######################################################################## */

.previous-conferences{
	margin-top: 3em;
	margin-bottom:3em;
}

.previous-conferences ul{
	margin-top:2em;
}


/* ###################### next conference ##################### */

.next-conference h1, h2, h3, h4{	
	font-weight: 500;
}

.next-conference-date{
	margin-top: 15px; 
	margin-bottom: 10px;
}


/* ###################### live stream ##################### */

.live-stream{	
	margin-bottom: 3em;
}


.live-stream-youtube{
	text-align: center;
}

.live-stream-youtube frame{
	max-width: 100%;
}


/* ######################################################################## */
/*                              members section
/* ######################################################################## */

.member-info{
	margin-top:2em;
	margin-bottom:2em;
}

.social-share-googleplus{
	margin-right: 7px;
}

/* styles for members page */

.round-img{
	border-radius: 50%;
}

.member-img{
	margin-top:0px; 
	margin-right:10px; 
	width:150px; 
}

.member-header{
	display:grid;
	grid-template-columns: minmax(150px,auto) 1fr;
	grid-template-rows: minmax(1em,auto) 1fr 20px;	
}

.member-imgwrapper{	
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start: 1;
	grid-row-end:4;
}

.member-name{	
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start: 1;
	grid-row-end:2;
	margin-top:0px;
}

.member-role{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start: 2;
	grid-row-end:3;
}

.member-links{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start: 3;
	grid-row-end:4;
}



/* ######################################################################## */
/* ######################################################################## */
/*                              MEDIA QUERIES
/* ######################################################################## */
/* ######################################################################## */

@media (max-width:950px){


	/* ######################################################################## */
	/*                              members section
	/* ######################################################################## */
	.member-imgwrapper{	
		grid-column-start:1;
		grid-column-end:2;
		grid-row-start: 1;
		grid-row-end:2;
	}

	.member-name{	
		display: flex;
		align-items: center;
	}

	.member-role{
		grid-column-start:1;
		grid-column-end:3;
	}

	.member-links{
		grid-column-start:1;
		grid-column-end:3;
	}


}