---
layout: page
title: "Miembros"
description: "Colaboradores del proyecto"
#header-img: "img/portadas/p7.jpg"
---
<hr>

{% for member in site.data.members %}
	{% if member.visible == true %}

	<div id="{{member.id}}" class="member-header">
	<div class="member-imgwrapper">	
	{% if member.imgRoundCorner %}
	<img src="{{ member.img | prepend: site.baseurl}}" class="member-img" style="">	
	{% else %}
	<img src="{{ member.img | prepend: site.baseurl}}" class="member-img round-img" style="">
	{% endif %}
	</div><!-- end of member-imgwrapper-->
	
	<h1 class="member-name">{{ member.name }}</h1>
	
	<h2 class="member-role">{{ member.role }}</h2>
	
	<div class="member-links">
	{% if member.url %}
	<span class="social-share-googleplus"><a target="_blank" href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
	{% endif %}
	{% if member.twitter %}
	<span class="social-share-googleplus"><a target="_blank" href="https://twitter.com/{{ member.twitter }}" title="Google Plus"><img src="{{ "/img/icons/twitter-icon.png" | prepend: site.baseurl }}" style="height:20px">Twitter</a></span>
	{% endif %}
	{% if member.github %} 
	<span class="social-share-googleplus"><a target="_blank" href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
	{% if member.researchgate %} 
	<span class="social-share-googleplus"><a target="_blank" href="{{ member.researchgate }}" title="Github"><img src="{{ "/img/icons/researchgate-icon.png" | prepend: site.baseurl }}" style="height:20px">ResearchGate</a></span> 
	{% endif %}
	{% if member.orcid %} 
	<span class="social-share-googleplus"><a target="_blank" href="https://orcid.org/{{member.orcid }}" title="Github"><img src="{{ "/img/icons/orcid-icon.png" | prepend: site.baseurl }}" style="height:20px">ORCID</a></span> 
	{% endif %}
    </div><!-- end of member-links-->
    </div><!-- end of member-header-->

	<section class="member-info">
	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	</section>
	
	<hr>

	{% endif %}
{% endfor %}