---
layout: page
title: "Miembros"
description: "Colaboradores del proyecto"
header-img: "img/portadas/p7.jpg"
---
<hr>

{% for member in site.data.members %}
	{% if member.visible == true %}

	{% if member.imgRoundCorner %}
	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important; {{ member.imgStyle}}">	
	{% else %}
	<img src="{{ member.img }}" style="border-radius: 50%; margin-top:0px; margin-bottom:25px; margin-right:10px; float:left; width:150px !important; {{ member.imgStyle }}">
	{% endif %}
	
	<h1>{{ member.name }}</h1>
	
	<h2>{{ member.role }}</h2>
	
	{% if member.url %}
	<span class="social-share-googleplus"><a target="_blank" href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png"| prepend: site.baseurl }}" style="height:20px">Website</a></span>
	{% endif %}
	{% if member.twitter %}
	<span class="social-share-googleplus"><a target="_blank" href="https://twitter.com/{{ member.twitter }}" title="Google Plus"><img src="{{ "/img/icons/twitter-icon.png" | prepend: site.baseurl }}" style="height:20px">Twitter</a></span>
	{% endif %}
	{% if member.github %} 
	<span class="social-share-googleplus"><a target="_blank" href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png" | prepend: site.baseurl }}" style="height:20px">Github</a></span> 
	{% endif %}
	{% if member.researchgate %} 
	<span class="social-share-googleplus"><a target="_blank" href="{{ member.researchgate }}" title="Github"><img src="{{ "/img/icons/researchgate-icon.png" | prepend: site.baseurl }}" style="height:20px">ResearchGate</a></span> 
	{% endif %}
	{% if member.orcid %} 
	<span class="social-share-googleplus"><a target="_blank" href="https://orcid.org/{{member.orcid }}" title="Github"><img src="{{ "/img/icons/orcid-icon.png" | prepend: site.baseurl }}" style="height:20px">ORCID</a></span> 
	{% endif %}

	<section class="member-info">
	{% if member.bio %} 
	{{ member.bio }}
	{% endif %}
	</section>
	
	<hr>

	{% endif %}
{% endfor %}