---
layout: page
title: "Seminario"
description: "Ciencia de Redes: Métodos y Aplicaciones"
#header-img: "/img/portadas/p7.jpg"
---

<!--
<h1>Transmisión en vivo del seminario:</h1>
-->
<h1>Video del seminario (transmisión en vivo finalizada):</h1>

<div class="next-conference">		
	<h3><strong>Conferencia</strong>: "Redes en Biomedicina: de lo molecular a lo pandémico".</h3>
	<h3><strong>Ponente</strong>: Dr. Guillermo de Anda Jáuregui.</h3>
	<h3><strong>Afiliación</strong>: Instituto Nacional de Medicina Genómica (INMEGEN).</h3>
	<h3><strong>Fecha</strong>: 6 de Agosto de 2021. A partir de las <strong>4:00 pm.</strong></h3>
</div>

<div class="live-stream"> 

	
<!--
	<p style="margin-top:15px; margin-bottom:10px;"><strong>Nota</strong>: En caso de que el día de la conferencia no se muestre el video de la transmisión en vivo, vuelve a cargar la página.</p>
	<div class="live-stream-youtube"> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCunrvKz1WB8sElwhFkBI3Pw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> 
-->

<div class="live-stream-youtube"> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/iLe3bv58UFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>


<div class="conference-poster">
  <h1>Poster de la conferencia:</h1>
  <img class="img-conference" src="/img/seminar-2ed/Seminario2-GAJ-Biomedicina.png" />  
  <a class="strong-link download-conference-link" target="_blank" download="Seminario-GAJ-Biomedicina.pdf" href="/img/seminar-2ed/Seminario2-GAJ-Biomedicina.pdf">Descargar poster (pdf)</a>  
</div>

<div class="previous-seminar-editions">
  <h1>Ediciones anteriores del seminario:</h1>
  <ul class="post-summary-list">     
	<li>
		<a class="strong-link" href="/posts/2021/06/11/seminar-netscience-epilogue/">Primera edición del seminario "Ciencia de Redes: Métodos y Aplicaciones".</a>
	</li>
  </ul>
</div>


<!--
<div class="previous-conferences">
	<h1>Conferencias previas:</h1>
	<ul class="post-summary-list">     
	{% for post in site.posts %}
	  {% if post.tags contains 'Seminario de ciencia de redes' %}
	       
	      <li>
	          <a class="strong-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	          <span class="post-summary-author">Ponente: {{post.author}}.</span>      
	          <span class="post-summary-date">Fecha:&nbsp;&nbsp;<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>.</span>
	      </li>            	  
	  {% endif %}
	{% endfor %}
	</ul>
</div>
-->

<h1>Sobre el seminario:</h1>
<p>
El seminario <strong>Ciencia de Redes: Métodos y Aplicaciones</strong> es organizado por el área de investigación de 
<a class="strong-link"  href="http://www.ler.uam.mx/es/UAMLerma/DSIC" target="_blank">Sistemas de Información y Ciencias Computacionales (SIC2)</a> de la
<a class="strong-link"  href="http://www.ler.uam.mx" target="_blank">UAM-Lerma</a>. En este seminario se presentarán 
avances de investigaciones entorno a métodos matemáticos y computacionales aplicados a la Ciencia de Redes, así como casos de estudio de análisis de redes sociales 
que van desde el <em>análisis de redes académicas</em>, <em>propagación de información en medios sociales</em> y <em>propagación de epidemias</em>.
</p>

<p>
El seminario será transmitido en vivo en este portal y por el <a class="strong-link" href="https://www.youtube.com/channel/UCunrvKz1WB8sElwhFkBI3Pw" target="_blank" >canal oficial de Youtube del SIC2</a>. Al final de cada sesión se dará tiempo para atender dudas y comentarios de los asistentes.    
</p>

<!--
<p>
<img src= "{{ "/img/calendario.jpg" | prepend: site.baseurl }}" style="width: 95%; margin-left: 2.5%; margin-right: 2.5%;">
</p>
-->


<div style="clear:both">&nbsp;</div>