<!-- Footer -->
<footer>
    <div class="container">
        <p><h4 class="text-center">Departamentos colaboradores:</h4></p>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <span class="social-share-googleplus">
                            <a href="http://www.ler.uam.mx/es/UAMLerma/DSIC" target="_blank">
                                <img src="{{ "/img/uam/dsic.png" | prepend: site.baseurl }}" style="height:70px">
                            </a>
                        </span> 
	
                    </li>
                    <li>
                        <span class="social-share-googleplus">
                            <a href="http://www.ler.uam.mx/es/UAMLerma/investigacionEstudiosCulturales" target="_blank">
                                <img src="{{ "/img/uam/des-lerma.jpeg" | prepend: site.baseurl }}" style="height:70px">
                            </a>
                        </span> 
	
                    </li>
                    <li>
                        <span class="social-share-googleplus">
                            <a href="http://www.cua.uam.mx/investigacion/grupos-y-lineas-de-investigacion/ciencias-de-la-comunicacion-y-diseno-ccd/departamento-de-tecnologias-de-la-informacion" target="_blank">
                                <img src="{{ "/img/uam/cuaji_div.png" | prepend: site.baseurl }}" style="height:70px">
                            </a>
                        </span> 
	
                    </li>
     
                    <!--
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}/{{ site.project_repository}}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
					{% if site.github_username == "projectpages" %}
                    <li>
                        <a href="https://github.com/projectpages/project-pages/issues">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
		    <li>
                        <a href="https://github.com/projectpages/project-pages/wiki/">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/projectpages/project-pages/fork">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}	
                    -->			
                </ul>
                <p class="copyright text-muted"> Webmasters: <a href="http://daniaguirre.github.io/" target="_blank">Daniela Aguirre Guerrero</a> - <a href="https://iarobles.github.io" target="_blank">Ismael Robles Martínez</a>, 2021. </p>
            </div>
        </div>
    </div>
</footer>